body{
	overflow-x: hidden;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

header{
	background-image: url(../img/wall.jpg);
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 28px;
	margin-bottom: 26px;
	line-height: 24px;
}
header .intro-text .intro-heading {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px;
}
/*Informacion para el responsive design */
@media (min-width: 768px){
	header .intro-text{
		padding-top: 300px;
		padding-bottom: 200px;
	}
	header .intro-text .intro-lead-in{
		font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	header .intro-text .intro-heading{
		font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px;
	}
}

/*Esquematicos de los botones */
.btn:focus,
.btn:active;
.btn:active;
.btn:active:focus {
	outline: 0;
}

.btn-primario {
	color: #fff;
	background-color: #fed136;
	border-color: #fed136;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700px;
}

.btn-grande {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}